@using Microsoft.AspNetCore.Hosting.Internal
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    SALUS UAV<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:info@salusuav.com">info@salusuav.com</a><br />
    <strong>Call us:</strong> <a href="tel:00441636642891">+44 (0)1636 642891</a>
</address>
